# rename this file to "terraform.tfvars" and fill in your values.
# Do not commit terraform.tfvars to source control.


# For terraform cloud
#terraform_cloud_org = "your terraform cloud org name"
#terraform_cloud_workspace = "the target workspace"

# Cloudflare Credentials
cloudflare_api_token  = "your-super-secret-api-token"
# Alternatively you can use global API User email and Key
#CLOUDFLARE_API_KEY = "your-super-secret-api-key"
#CLOUDFLARE_EMAIL = "your email address"

# Configuration
cloudflare_account_id = "your-account-id-hex-string"
cloudflare_zone_id    = "your-zone-id-hex-string"
cluster_lb_hostname   = "lb.yourdomain.com"
cluster_a_tunnel_name = "cluster_a"
cluster_a_tunnel_cidr = "192.168.1.0/24"
cluster_b_tunnel_name = "cluster_b"
cluster_b_tunnel_cidr = "192.168.2.0/24"